//
   Created by iTooly on 3/22/2016.

extends layout

block content
    header#header.col-md-12.bgm-orange.aside
        ul.header-inner
            li.brand-logo
                a(href='/')
                    h4 WISDome
            li.pull-right
                ul.top-menu
                    if (data.user)
                        li
                            a(href='')
                                h5 #{data.user.name}
                    else
                        li
                            a(href='users/register')
                                h5 Sign Up
                        li
                            a(href='users/login')
                                h5 Sign In

    aside#menu
        nav
            header
                a(href='register.ejs')
                    i.zmdi.zmdi-globe-alt
            ul#content
                li.selected
                    a(href='../../dashboard')
                        div
                            i.zmdi.zmdi-chart
                li
                    a(href='../../profile')
                        div
                            i.zmdi.zmdi-account-circle
                li
                    a(href='../../networks')
                        div
                            i.zmdi.zmdi-home
                li
                    a(href='../../weapons')
                        div
                            img(src='/images/Gun.png' width='24px' height='24px' style='margin-left: 8px; margin-top: -8px')
                li.bottom
                    a(href='settings')
                        div
                            i.zmdi.zmdi-settings

    section#content
        div.container
            div.block-header
                h2 #{data.title}

            div.row.col-xs-12
                each val, index in data.guns ? data.guns : []
                    div.col-xs-6.col-sm-3.col-md-2
                        a(href="../../dashboard/gun/#{index}")
                            div.tag
                                h2 #{val.name}
                                ul.actions
                                    li(onclick="selected_gun=#{index}")
                                        - console.log(val.status)
                                        - var status = (val.status == 'on' ? 'green' : (val.status == 'off' ? 'red' : 'yellow'))
                                        i.zmdi.zmdi-circle(style='color:#{status}')
            div.row.col-xs-12
                each val, index in data.networks ? data.networks : []
                    div.col-xs-6.col-sm-3.col-md-2
                        div.tag
                            ul.actions.left
                                li
                                    case val.type
                                            when "home"
                                                i.zmdi.zmdi-home
                                            when "hospital"
                                                i.zmdi.zmdi-hospital
                                            when "hotel"
                                                i.zmdi.zmdi-hotel
                                            when "park"
                                                i.zmdi.zmdi-nature
                                            when "store"
                                                i.zmdi.zmdi-store
                                            when "public_transport"
                                                i.zmdi.zmdi-subways
                            h2 #{val.name}

            if data.guns
                div.row.col-xs-12
                    div.col-xs-12.col-sm-6
                        div.card.dw_item
                            div.card-header
                                    h2 Recent Locations
                                        small List of recent locations that your guns was connected to.

                                    ul.actions
                                        li
                                            i.zmdi.zmdi-trash

                            div.card-body
                                table
                                    thead
                                        tr
                                            th ID
                                            th name
                                            th date

                                    tbody
                                        if !data.locations || data.locations.length == 0
                                            tr
                                                td(colspan="3") No Recent Locations
                                        else
                                            each val, index in data.locations
                                                tr
                                                    td #{index}
                                                    td #{val.name}
                                                    - console.log(val.timestamp);
                                                    - var date = new Date(parseInt(val.timestamp));
                                                    td #{date.toString()}