//
   Created by iTooly on 3/22/2016.

extends layout

block content
    header#header.col-md-12.bgm-orange.aside
        ul.header-inner
            li.brand-logo
                a(href='/')
                    h4 WISDome
            li.pull-right
                ul.top-menu
                    if (user)
                        li
                            a(href='')
                                h5 #{user.name}
                    else
                        li
                            a(href='users/register')
                                h5 Sign Up
                        li
                            a(href='users/login')
                                h5 Sign In
    aside#menu
        nav
            header
                a(href='register.ejs')
                    i.zmdi.zmdi-globe-alt
            ul.content
                li
                    a(href='dashboard')
                        div
                            i.zmdi.zmdi-chart
                li
                    a(href='profile')
                        div
                            i.zmdi.zmdi-account-circle
                li.selected
                    a(href='networks')
                        div
                            i.zmdi.zmdi-home
                li
                    a(href='weapons')
                        div
                            img(src='/images/Gun.png' width='24px' height='24px' style='margin-left: 8px; margin-top: -8px')
                li.bottom
                    a(href='settings')
                        div
                            i.zmdi.zmdi-settings



    section#content
        div.container
            div.block-header
                h2 Networks

                ul.actions
                    li
                        a(href='networks/new')
                            i.zmdi.zmdi-plus

            div.row
                each val, index in data.networks.length ? data.networks : []
                    div.col-md-3.col-sm-6.square
                        div.card.card-abs
                            div.card-body.card-padding
                                span.guns-font.center-text
                                    case val.type
                                        when "home"
                                            i.zmdi.zmdi-home
                                        when "hospital"
                                            i.zmdi.zmdi-hospital
                                        when "hotel"
                                            i.zmdi.zmdi-hotel
                                        when "park"
                                            i.zmdi.zmdi-nature
                                        when "store"
                                            i.zmdi.zmdi-store
                                        when "public_transport"
                                            i.zmdi.zmdi-subway


                            div.card-header.card-header-bottom
                                h2 #{val.name}