//
   Created by iTooly on 3/30/2016.
extends layout

block content
    header#header.col-md-12.bgm-orange.aside
        ul.header-inner
            li.brand-logo
                a(href='/')
                    h4 WISDome
            li.pull-right
                ul.top-menu
                    if (data.user)
                        li
                            a(href='')
                                h5 #{data.user.name}
                    else
                        li
                            a(href='users/register')
                                h5 Sign Up
                        li
                            a(href='users/login')
                                h5 Sign In
    aside#menu
        nav
            header
                a(href='../users/register')
                    i.zmdi.zmdi-globe-alt
            ul
                li
                    a(href='../dashboard')
                        div
                            i.zmdi.zmdi-chart
                li
                    a(href='../profile')
                        div
                            i.zmdi.zmdi-account-circle
                li.selected
                    a(href='../networks')
                        div
                            i.zmdi.zmdi-home
                li
                    a(href='../weapons')
                        div
                            img(src='/images/Gun.png' width='24px' height='24px' style='margin-left: 8px; margin-top: -8px')
                li.bottom
                    a(href='../settings')
                        div
                            i.zmdi.zmdi-settings
    section#content
        div.container
            div.block-header
                h2 Networks - 
                    span Register your network to the system, And add users with authentication to the netork.

            div.row
                div.col-md-12
                    div.card
                        div.card-header
                            h2 Add a New Network

                        div.card-body.card-padding
                            form(method="post", action="/networks/new")
                                div.row
                                    div.ui-input-group.col-md-6.col-sm-12
                                        input.form-control(type='text', name='name')
                                        span.input-bar
                                        label Name
                                div.row
                                    div.ui-input-group.col-md-6.col-sm-12
                                        input.form-control(type='text', name='mac')
                                        span.input-bar
                                        label MAC Address
                                div.row
                                    div.ui-input-group.col-md-6.col-sm-12
                                        input.form-control(type='text', name='users')
                                        span.input-bar
                                        label Users Emails
                                div.row
                                    div.ui-input-group.col-md-6.col-sm-12
                                        select.form-control(name='type')
                                            option
                                            option(value='home') Home
                                            option(value='hospital') Hospital
                                            option(value='hotel') Hotel
                                            option(value='park') Park
                                            option(value='store') Store
                                            option(value='public_transport') Public Transportation
                                        span.input-bar
                                        label Type
                                div.row
                                    div.ui-input-group.text-center
                                        button.btn.waves-effect(style='background-color:#FF9800;') Add

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script.
        $(document).ready(function() {
            $('input, select, textarea').blur(function() {

                // check if the input has any value (if we've typed into it)
                if ($(this).val())
                    $(this).addClass('used');
            else
            $(this).removeClass('used');
            });

            Waves.init();
        });