//
   Created by iTooly on 3/22/2016.

//
   Created by iTooly on 3/22/2016.

extends layout

block content
    header#header.col-md-12.bgm-orange.aside
        ul.header-inner
            li.brand-logo
                a(href='/')
                    h4 WISDome
            li.pull-right
                ul.top-menu
                    if (user)
                        li
                            a(href='')
                                h5 #{user.name}
                    else
                        li
                            a(href='users/register')
                                h5 Sign Up
                        li
                            a(href='users/login')
                                h5 Sign In
    aside#menu
        nav
            header
                a(href='register.ejs')
                    i.zmdi.zmdi-globe-alt
            ul.content
                li
                    a(href='dashboard')
                        div
                            i.zmdi.zmdi-chart
                li.selected
                    a(href='profile')
                        div
                            i.zmdi.zmdi-account-circle
                li
                    a(href='networks')
                        div
                            i.zmdi.zmdi-home
                li
                    a(href='weapons')
                        div
                            img(src='/images/Gun.png' width='24px' height='24px' style='margin-left: 8px; margin-top: -8px')
                li.bottom
                    a(href='settings')
                        div
                            i.zmdi.zmdi-settings


    section#content
        div.container
            div.block-header
                h2 Profile

            div.row
                div.col-md-12
                    div.card
                        div.card-header
                            h2 Edit Profile
                            small Edit your profile information and preferences for better service and communication.

                        div.card-body.card-padding
                            form(method="post", action="/weapons/new")
                                div.row
                                    div.ui-input-group.col-md-6.col-sm-12
                                        input.used.form-control(type='text', value='#{data.user.name}')
                                        span.input-bar
                                        label Full Name

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script.
        $(document).ready(function () {

            $('input, select, textarea').blur(function () {

                // check if the input has any value (if we've typed into it)
                if ($(this).val())
                    $(this).addClass('used');
                else
                    $(this).removeClass('used');
            });

            Waves.init();
        });