@font-face {
  font-family: 'guns';
  src: url('../fonts/guns-webfont.eot');
  src: url('../fonts/guns-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/guns-webfont.woff2') format('woff2'),
  url('../fonts/guns-webfont.woff') format('woff'),
  url('../fonts/guns-webfont.ttf') format('truetype'),
  url('../fonts/guns-webfont.svg#gunsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #303030;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: #D8DADA;
}

a {
  color: #00B7FF;
}

/*
  Menu
  */
  header {
    height: 70px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    position: fixed !important;
    z-index: 10;
    top: 0px;
    background-color: #212121;
  }

  header.aside {
    margin-left: 80px;
    width: calc(100% - 80px) !important;
  }

  header a {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
  }

  header li.brand-logo {
    margin-left: 16px;
  }

  .header-inner {
    list-style: none;
    padding: 17px 0;
    margin-bottom: 0;
    position: relative;
  }

  .header-inner > li:not(.pull-right) {
    float: left;
  }

  .header-inner > li:not(:last-child) {
    margin-right: -2px;
  }

  #header {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    min-height: 70px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 11px;
  }

  #header .logo a {
    padding: 2px 10px;
  }

  .logo a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-size: 24px;
  }

  .top-menu {
    list-style: none;
    padding: 0;
  }

  .top-menu > li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    min-width: 50px;
  }

  .top-menu li a {
    color: #ffffff;
    text-transform: uppercase;
  }

  @media (max-width: 767px) {
    .top-menu > li {
      position: static !important;
    }
  }



/*
  Aside Menu
  */

  aside#menu {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  }

  aside#menu nav {
    min-width: 80px;
    width: 80px;
    height: 100%;
    position: fixed;
    background-color: #000000;
  }

  aside#menu nav header {
    text-align: center;
    background-color: #FF9800;
    position: relative !important;
  }

  aside#menu nav header a {
    color: #fff;
    font-size: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  aside#menu nav header i {
    height: 36px;
    padding: 18px 25px;
  }

  aside#menu nav ul {
    padding: 0;
    list-style: none;
    margin-top: 24px;
  }

  aside#menu nav ul li {
    width: 100%;
  }

  aside#menu nav ul li.selected a i {
    color: #FF9800 !important;
  }

  aside#menu nav ul li div {
    width: 100%;
    margin: 0;
    font-size: 12px;
    padding: 24px 0 24px 20px;
    text-align: left;
    line-height: 36px;
  }

  aside#menu nav ul li div i {
    width: 40px;
    margin-right: 20px;
    color: #616161;
    font-size: 24px;
    text-align: center;
  }

  aside#menu nav ul li.bottom {
    bottom: 0;
    position: absolute;
  }

  section#content {
    position: relative;
    top: 70px;
    padding: 30px 0 30px 0;
    margin-left: 80px;
  }


/*
 * Block Header
 * Used for Heading outside the Cards.
 */

 .block-header {
  margin-bottom: 25px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .block-header {
    padding: 0 22px;
  }
}

@media screen and (max-width: 991px) {
  .block-header {
    padding: 0 18px;
  }
}

.block-header > h2 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.block-header > h2 span {
  text-transform: none !important;
}


.block-header > h2 > small {
  display: block;
  text-transform: none;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #9E9E9E;
  line-height: 140%;
}

.block-header .actions {
  position: absolute;
  right: 10px;
  top: -5px;
  z-index: 5;
}

.block-header-alt h1,
.block-header-alt h2,
.block-header-alt h3,
.block-header-alt h4,
.block-header-alt h5 {
  color: #575757;
  font-weight: 100;
}

/*
 * Header Actions
 */

 .actions {
  list-style: none;
  padding: 0;
  z-index: 2;
  margin: 0;
}

.actions > li {
  display: inline-block;
  vertical-align: baseline;
}

.actions > li > a,
.actions > a {
  width: 30px;
  height: 30px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.actions > li > a > i,
.actions > a > i {
  -webkit-transition: color;
  -o-transition: color;
  transition: color;
  -webkit-transition-duration: 1300ms;
  transition-duration: 1300ms;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.actions > li > a:hover > i,
.actions > a:hover > i {
  color: #fff;
}

.actions > li > a:before,
.actions > a:before {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  border-radius: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.actions > li > a:hover:before,
.actions > a:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.actions > li.open > a > i,
.actions.open > a > i {
  color: #fff;
}

.actions > li.open > a:before,
.actions.open > a:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.actions.actions-alt > li > a > i {
  color: #fff;
}

.actions.actions-alt > li > a > i:hover {
  color: #fff;
}

.actions.actions-alt > li.open > a > i {
  color: #fff;
}

.actions.open {
  z-index: 3;
}

/*
 * Collapse Menu Icons
 */

 .line-wrap {
  width: 18px;
  height: 12px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  margin: 10px 20px;
}

.line-wrap .line {
  width: 18px;
  height: 2px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.line-wrap .line.center {
  margin: 3px 0;
}

.open .line-wrap {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.open .line-wrap .line.top {
  width: 12px;
  transform: translateX(8px) translateY(1px) rotate(45deg);
  -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
}

.open .line-wrap .line.bottom {
  width: 12px;
  transform: translateX(8px) translateY(-1px) rotate(-45deg);
  -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
}


.square {
  position: relative;
  margin-bottom: 15px !important;
}

.square:before {
  content:     "";
  display:     block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

/*
  CARDS
  */
  .card {
    position: relative;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    background: #424242;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }

  .card-abs {
    position: absolute;
    margin: 8px 16px;
  }

  .card .card-header {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    .card .card-header:not(.ch-alt) {
      padding: 23px 25px;
    }
  }

  @media screen and (max-width: 991px) {
    .card .card-header:not(.ch-alt) {
      padding: 18px;
    }
  }

  .card .card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 17px;
    font-weight: 400;
  }

  .card .card-header h2 small {
    display: block;
    margin-top: 8px;
    color: #AEAEAE;
    line-height: 160%;
  }

  @media screen and (min-width: 768px) {
    .card .card-header.ch-alt {
      padding: 23px 26px;
    }
  }

  @media screen and (max-width: 991px) {
    .card .card-header.ch-alt {
      padding: 18px 18px 28px;
    }
  }

  .card .card-header.ch-alt:not([class*="bgm-"]) {
    background-color: #f7f7f7;
  }

  .card .card-header[class*="bgm-"] h2,
  .card .card-header[class*="bgm-"] h2 small {
    color: #fff;
  }

  .card .card-header .actions {
    position: absolute;
    right: 16px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }

  .card .card-header .btn-float {
    right: 25px;
    bottom: -23px;
    z-index: 1;
  }

  .card .card-body {
    max-height: 400px;
    overflow-y: auto;
  }

  @media screen and (min-width: 768px) {
    .card .card-body.card-padding {
      padding: 23px 26px;
    }
  }

  @media screen and (max-width: 991px) {
    .card .card-body.card-padding {
      padding: 18px;
    }
  }

  .card .card-body.card-padding-sm {
    padding: 15px;
  }

  .card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
    padding-top: 0;
  }

  .card-header-bottom {
    position: absolute!important;
    width: 100%;
    bottom: 0;
    color: rgba(255, 255, 255, 0.7);
  }


/*
  Tags
  */
  .tag {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    background: #424242;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    padding: 1em;
    cursor: pointer;
    margin-bottom: 16px
  }

  .tag h2 {
    margin: 0;
    line-height: 100%;
    font-size: 1em;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 18px;
    word-break: break-all;
    flex: 1;
  }

  .tag .actions {
    margin-left: 8px;
  }

  .tag .actions.left {
    margin-left: 0;
    margin-right: 8px;
  }

/*
Something
*/

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}

.text-center {
  text-align: center;
}

.guns-font {
  font-family: 'guns' !important;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
}






table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 0;
}

table th {
  border-top: 0;
  background-color: rgba(255, 255, 255, .04);
  vertical-align: middle;
  font-weight: 500;
  border-width: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, .02);
  padding: 15px;
  line-height: 1.42857143;
  padding-left: 30px;
}

table td {
  padding: 15px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid rgba(255, 255, 255, .02)
}

table td:first-child {
  padding-left: 30px;
  font-weight: 500
}

table td[colspan="3"] {
  padding: 60px;
  text-align: center;
}

.dw_item {
  min-height: 400px;
}
